server:
  port: 8888

spring:
  application:
    name: ms-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/DincaAlex/sistema-gestion-pedidos.git
          search-paths: config-repo
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"