apiVersion: v1
kind: Service
metadata:
  name: ms-productos-v3
  namespace: practica
  labels:
    app: ms-productos-v3
spec:
  type: ClusterIP
  ports:
    - port: 8088
      targetPort: 8088
      protocol: TCP
      name: http
  selector:
    app: ms-productos-v3
