spring:
  r2dbc:
    url: r2dbc:h2:mem:///productos_db;DB_CLOSE_DELAY=-1
    username: sa
    password: 
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.r2dbc: DEBUG
spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/productos_db
    username: postgres
    password: postgres
    pool:
      initial-size: 5
      max-size: 20
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.r2dbc: DEBUG
