<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- Loki Appender -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${springAppName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp": "%date{ISO8601}",
                    "level": "%level",
                    "thread": "%thread",
                    "logger": "%logger{36}",
                    "message": "%msg",
                    "trace_id": "%mdc{traceId}",
                    "span_id": "%mdc{spanId}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
